* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    margin: 10px;
}

.header {
    display: flex;
    border-bottom: 2px solid black;
    /* padding-bottom: 10px;  OR dispaly:flex; */
}

.greet {
    margin: 0.5%;
}

.cartIcon {
    position: absolute;
    right: 0;
    margin-right: 2%;
    margin-top: 0.5%;
    font-size: large;
}

.webNameTitle {
    text-align: left;
}

.navbar {
    background-color: white;
    width: 85%;
}

.navLinks {
    display: flex;
    list-style: none;
}

.navLinks a {
    text-decoration: none;
    margin-left: 50px;
}

.home {
    width: 100%;
    margin: 5px;
    padding: 5px;
}

.categories {
    background-color: rgb(194, 243, 248);
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 2.5%;
    margin-top: .5%;
    width: 24%;
}

.categoryLinks {
    list-style: none;
    padding: 2%;
}

.categoryLinks a {
    text-decoration: none;
    margin-left: 2%;
}

.product {
    border: 2px solid black;
    width: max-content;
    padding: 1%;
    margin: 2%;
    text-align: start;
    /* column-count: 3;
    column-gap: 40px; */
}

.products {
    /* display: flex;
    flex-wrap: wrap; */
}

.search-bar {
    width: 50%;
    height: 3.5vh;
    border-radius: 5px;
}

.searchDiv {
    text-align: center;
}

.btnSearch {
    border-radius: 5px;
    width: 10%;
    height: 3.5vh;
    margin-left: 1%;
}

img {
    width: 200px;
    height: 200px;
}

a:hover {
    text-decoration: underline;
}

button {
    width: 20%;
    height: 3vh;
    border-radius: 5px;
}

.loginForm,
.registerForm {
    margin: 0 auto;
    margin-top: 10%;
    border: 5px solid grey;
    border-radius: 10px;
    width: 30%;
    padding: 3%;
    background-image: linear-gradient(to top right, red, rgb(24, 24, 238));
}

input {
    border-radius: 5px;
    height: 2.5vh;
    border: 2px solid black;
}

.loginInputDiv {
    margin: 2%;
}